.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

#root {
    width: 100%;
    height: 100%;
}

.container {
    width: 24vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 37.5%;
    background-color: lightsalmon;
}

img {
    margin-top: 28px;
    width: 80%;
    /* height: 13%; */
    border-radius: 10px;
    align-self: center;

}

strong {
    color:  #16343c;;
    font-size: 4rem;
}

.sub-heading {
    font-size: 18px;
    color: rgb(129, 124, 124);
    margin: 10px;
    margin-left: 0px;
}

.data {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 